<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title> <!-- Hanya menampilkan site.title -->
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
</head>
<body>
  <header class="site-header" role="banner">
    <div class="wrapper">
      <a class="site-title" rel="author" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger"></label>
        <ul>
          <li><a href="{{ site.baseurl }}/about/">About</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="page-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>
  <footer class="site-footer">
    <div class="wrapper">
      <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
